body {
  background: linear-gradient(0deg, rgba(0,128,128,.5) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 60%, rgba(0,128,128,0.5) 100%);
}

.initialSpaceSection {
  margin-bottom: 75%;
}

#delay1 {
  display: none;
}

#delay2 {
  display: none;
}

#delay3 {
  display: none;
}

.form-row {
  text-align: center;
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

.remixButton {
  display: none;
}

.resultSection {
  display: none;
}

.centered {
  text-align: center;
}

.normal {
  color: black;
  font-family: monospace;
}

.beep {
  color: green;
  font-family: serif;
}

.boop {
  color: blue;
  font-family: sans-serif;
}

.dave {
  color: red;
  font-family: fantasy;
}
